body{
  background: #F3F5FC;
  display: flex;
  flex-direction: column;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

body header{
  margin-right: 4%;
}

body div{
  display: flex;
  height: 100vh;
  flex-direction: row;
  padding: 2%;
}

#text-area{
  display: flex;
  border: none;
  height: 95%;
  width: 66%;
  margin-right: 2rem;
}

#text-area form{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

#text{
  display: flex;
  height: 60vh;
  width: 100%;
  text-align: start;
  border: none;
  color: #0A3871;
  background-color: transparent; 
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}

#text:active{
  border: none;
}

textarea::placeholder {
  color: #0A3871;
}

.legend{
  height: 16px;
  color: #333;
  gap: 4px;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  padding: 0px;
}

.legend img {
  width: 12px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  height: 6rem;
  padding-right: 0px;
  padding-left: 0px;
  gap: 8rem;
}

.button-blue{
  border-radius: 2em;
  border: 1px solid #0A3871;
  background-color: #0A3871;
  color: #FFFFFF;
  font-size: 1.2rem;
  display: flex;
  padding: 1rem;
  width: 48%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.button-blue:hover{
  background-color: #0a3871a5 ;
}

#text-result{
  background-color: #FFFFFF;
  height: 90vh;
  width: 33vw;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 2em;
}

.button-clean{
  border-radius: 2em;
  border: 1px solid  #0A3871;
  display: flex;
  padding: 1rem;
  width: 48%;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1.2rem;
}

.button-clean:hover{
  background-color: rgba(0, 0, 0, 0.08);
}

#graph-text {
  display: none;
  height: 99%;
  width: 98%;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
}

#graph-text p {
  width: 92%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#graph-ilustration{
  display: flex;
  height: 95%;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}

#graph-ilustration img{
  margin-bottom: 4rem;
}

#graph-ilustration h4{
  color: #0A3871;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
}

#graph-ilustration p{
  color: #495057;
  text-align: center;
  font-size: 16px;
  line-height: 150%; 
}

.footer{
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
    height: 28vh;
    display: flex;
    justify-content: space-between;
}

.footer div {
  flex-direction: column;
  width: 33%;
  height: 100%;
  align-items: center;
}

.footer div img {
  width: 8rem;
}

.footer div img:hover{
  transform: rotate(0.04turn);
}

#dados{
  flex-direction: column;
  width: 33%;
  height: 100%;
  align-items: center;
  font-weight: bold;
}

#socialmidia{
  flex-direction: column;
  width: 33%;
  height: 100%;
  justify-content: space-between;
  font-weight: bold;
}

#socialmidia img{
  width: 4rem;
}

#socialmidia div{
  display: flex;
  flex-direction: row;
  width: 99%;
  justify-content: space-between;
}

.alert {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90vw;
  height: 90vh;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #0A3871;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 2rem 4rem 8rem rgba(0, 0, 0, 0.683);
  z-index: 1;
  color: #FFFFFF;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.alert p {
  margin: 0;
  width: 100%;
  text-align: center;
}

.alert img {
  height: 80%;
  margin: 8px 2px 2px 2px;
}

div p img { 
  width: 33%;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  body header{
    display: none;
  }

  body div{
    flex-direction: column;
    gap: 0.2rem;
    height: max-content;
    width: 98.5vw;
    align-items: center;
    justify-content: space-around;
  }

  #text-area{
    display: flex;
    border: none;
    height: 95vh;
    width: 100%;
    margin: 0 0 2rem 0;
  }

  #text-area div {
    padding: 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    height: max-content;
    margin-top: 0.5rem;
    padding-right: 0px;
    padding-left: 0px;
    gap: 1rem;
  }

  #text-result{
    background-color: #FFFFFF;
    height: max-content;
    width: 100%;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 2em;
  }

  #graph-ilustration {
    width: 98%;
    align-items: center;
    padding: 2px;
  }

  #graph-ilustration img {
    width: 95%;
    margin: 2px;
  }

  #graph-text p{
    font-size: 18px;
    margin: 8px 0 8px 0;
  }

  .footer {
    flex-wrap: wrap;
    padding: 2px;
    height: 20vh;
  } 

  .footer div {
    padding: 0;
  }

  #dados {
    padding: 16px 0 16px 0;
    justify-content: space-around;
    text-align: center;
  }

  #socialmidia div{
    flex-direction: column;
  }

  #socialmidia  img{
    width: 1.65rem;
  }

  .alert img {
    margin: 2px;
    height: 65%;
  }

  div p img { 
    width: 50%;
    margin-bottom: 2px;
  }
}
